---
interface Props {
  title?: string;
  tag?: string;
  contentType: "desc" | "list";
  contentClass?: string;
  class?: string;
}

const { class: className, title, tag, contentType, contentClass } = Astro.props;

const ContainerTag = tag ?? "div";
---

<ContainerTag class={className}>
  <slot name="title">
    <h5 class="text-lg font-semibold">{title}</h5>
  </slot>
  <slot name="content">
    {
      contentType === "desc" && (
        <p class="text-sm">
          <slot />
        </p>
      )
    }

    {
      contentType === "list" && (
        <ul class={`text-sm ${contentClass ?? ""}`}>
          <slot />
        </ul>
      )
    }
  </slot>
</ContainerTag>
