@import url("./reset.css");
@import url("./typography.css");
@import url("./layout_system.css");

:root {
  --th-color-bg: 110, 21%, 95%;
  --th-color-on-bg: 0, 0%, 100%;
  --th-color-title: 80, 21%, 8%;
  --th-color-text: 90, 10%, 25%;
  --th-color-accent-text: 93, 44%, 36%;

  --th-spacing-xs: 0.5rem;
  --th-spacing-sm: 0.75rem;
  --th-spacing-normal: 1rem;
  --th-spacing-large: 1.250rem;

  --th-heading-font: "Raleway", sans-serif;
  --th-text-font: "Lato", sans-serif;
}

body {
  background-color: hsla(var(--th-color-bg), 1) !important;

  font-family: var(--th-text-font);
  font-weight: 400;
  font-style: normal;

}

html {
  scroll-behavior: smooth;

}

.icon {
  --icon-size: 1rem;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor;
}