---
import { Section } from "../containers";
import { SendMailIcon, GithubIcon, LinkedinIcon } from "../icons";

const links = [
  {
    Icon: SendMailIcon,
    href: "mailto:diksonaranda.cabrera@gmail.com",
  },
  {
    Icon: LinkedinIcon,
    href: "https://www.linkedin.com/in/dikson-aranda/",
  },
  {
    Icon: GithubIcon,
    href: "https://github.com/DreckSallow",
  },
];
---

<Section title="Contact" class="mt-20" id="contact">
  <div class="mt-8 w-[95%] md:w-[60%] mx-auto">
    <p class="text-start text-sm">
      Feel free to reach out if you have any questions, opportunities, or would
      like to collaborate on exciting projects. I specialize in JavaScript and
      Rust development, with a focus on building efficient, scalable
      applications.
      <br />
      I’m always open to discussing interesting challenges in programming, software
      architecture, or anything tech-related.
    </p>
    <a
      href="mailto:diksonaranda.cabrera@gmail.com"
      class="underline underline-offset-2 mt-4 block text-primary"
    >
      {"->"} diksonaranda.cabrera@gmail.com
    </a>
    <ul class="mt-4 flex-row-base gap-5">
      {
        links.map(({ href, Icon }) => (
          <li>
            <a
              href={href}
              class="rounded-full p-2 block fill-txt border border-on-background"
              target="_blank"
            >
              <Icon class="h-5 w-5" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
