---
import { Section } from "../containers";

const jobs_v2 = [
  {
    time: "Jun 2024 - Dic 2024",
    title: "FullStack Developer",
    subtitle: "Arisale",
    description: [
      "I used Vue with Nuxt.js to create web projects and employed SASS for styling.",
      "I collaborated with the backend team to add features and resolve issues using Nest.js.",
    ],
  },
  {
    time: "Nov 2023 - Mar 2023",
    title: "Frontend Developer",
    subtitle: "Liquid",
    description: [
      "I developed web applications using Vue, Nuxt, Pinia, and Tailwind CSS, and deployed them on Google Cloud Platform (GCP).",
      "I worked closely with the design team to streamline workflows and enhance user experience.",
    ],
  },
  {
    time: "Jun 2022 - Aug 2022",
    title: "Frontend Developer",
    subtitle: "Kimche",
    description: [
      "I implemented new features in web applications, focusing on data visualization through tables, charts, and progress bars.",
      "I identified and fixed issues, improving functionality and user experience. Technologies used: React, React Context, and Cube.js.",
    ],
  },
  {
    time: "Oct 2021 - Mar 2022",
    title: "Full Stack Developer",
    subtitle: "SoyHenry",
    description: [
      "I completed Soy Henry's Bootcamp, where I gained skills in full-stack web development within the JavaScript ecosystem (frontend and backend).",
      "For the final project, we developed an online tech store. Skills acquired: React, Redux, Node.js, PostgreSQL, HTML, CSS, Sequelize.",
    ],
  },
];
---

<Section
  title="Resume"
  description="Lets look about my experience in my work"
  id="experience"
>
  <ul class="work-card-list mt-10 md:mx-5">
    {
      jobs_v2.map((work) => (
        <li class="rounded-lg bg-background-soft/80 p-6">
          <span class="text-md text-primary font-semibold block">
            {work.time}
          </span>
          <h4 class="text-xl font-semibold">{work.title}</h4>
          <span class="text-md text-neutral-500 mb-2 block">
            {work.subtitle}
          </span>
          <p class="text-sm text-neutral-500">
            {work.description
              .slice(0, work.description.length - 1)
              .map((line) => (
                <>
                  {line}
                  <br />
                </>
              ))
              .concat(work.description.at(work.description.length - 1))}
          </p>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .work-card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    justify-content: center;
  }

  @media (min-width: 640px) {
    .work-card-list {
      grid-template-columns: minmax(15rem, 30rem) minmax(15rem, 30rem);
    }

    .work-card-list > li {
      max-width: 30rem;
    }
  }
</style>
