---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/nav-bar.astro";
---

<Layout title="Dikson Portfolio Web">
	<NavBar />
	<main class="bg-gray-400 h-full py-4 px-6">
		<h1 class="text-blue-300 text-4xl">Dikson portfolio web</h1>
	</main>
</Layout>

<style></style>
