---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/nav-bar.astro";
import {
	ExperienceSection,
	ProjectsSection,
	ContactSection,
} from "../components/sections";
---

<Layout title="Dikson Portfolio Web" class="bg-background">
	<NavBar />
	<main class="text-on-background">
		<section
			class="flex-row-base justify-around gap-6 flex-1 w-full md:w-[90%] mx-auto h-screen px-6"
		>
			<header class="flex-1">
				<h1 class="text-5xl font-bold">
					Hi there, <br />
					<span class="text-primary"> I'ts Dikson Aranda </span>
				</h1>
				<p class="text-md mt-3 mb-6 text-neutral-600">
					Welcome to my personal website. I'm Dikson Aranda, a passionate web
					developer with 2 year of work experience creating software to gring a
					better experience for the users
				</p>
				<button class="rounded-full px-5 py-2 bg-primary text-sm text-white">
					Let's discuss {"->"}
				</button>
			</header>
			<div
				class="principal-image bg-orange-200 hidden md:block flex-[0.7] relative"
			>
				<img
					src="https://img.freepik.com/psd-premium/retrato-sonriente-hombre-dibujos-animados-3d-aislado-sobre-fondo-transparente-png-psd_888962-1570.jpg?semt=ais_hybrid"
					alt="avatar-dikson"
				/>
			</div>
		</section>
		<ExperienceSection />
		<ProjectsSection />
		<ContactSection />
		<footer class="mt-10 px-6 py-4 border-t border-neutral-300 mx-4 pt-8">
			<div class="flex flex-row gap-8 justify-between">
				<div>
					<div class="mb-5">
						<h5 class="text-lg font-semibold">Dikson Aranda</h5>
						<p class="text-sm">
							Full-stack developer passionate about creating elegant solutions
							to complex problems.
						</p>
					</div>
					<div>
						<h5 class="text-lg font-semibold">Expertise</h5>
						<ul class="text-sm">
							<li>React & Nextjs</li>
							<li>Nodejs & Express</li>
							<li>Vue & Nuxt</li>
							<li>Rust</li>
							<li>Javascript & Typescript</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="mb-5">
						<h5 class="text-lg font-semibold">Quick links</h5>
						<ul class="text-sm">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Experience</a>
							</li>
						</ul>
					</div>
					<div class="mb-5">
						<h5 class="text-lg font-semibold">Connect</h5>
						<ul class="text-sm flex flex-row gap-6">
							<li>Github</li>
							<li>Linkedin</li>
							<li>Mail</li>
						</ul>
						<p class="text-sm">
							Feel free to reach out for collaborations or just a friendly
							hello!
						</p>
					</div>
				</div>
			</div>
			<span class="text-center w-full block">
				© {new Date().getFullYear()} Dikson Aranda. All rights reserved.
			</span>
		</footer>
	</main>
</Layout>

<style>
	.principal-image::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(var(--color-primary));
		height: 30%;
		width: 30%;
		z-index: -1;
		filter: blur(80px);
	}

	.principal-image::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: rgba(var(--color-primary));
		height: 30%;
		width: 30%;
		z-index: -1;
		filter: blur(80px);
	}
</style>
