---
interface Props {
  href: string;
  label?: string;
  class?: string;
  external?: boolean;
}

const { href, label } = Astro.props;

const external = (() => {
  if (typeof href === "string") {
    return href.at(0) !== "#";
  }
  return Astro.props.external === true;
})();
---

<a href={href} class="link" target={external === false ? "_self" : "_blank"}>
  <slot>
    {label}
  </slot>
</a>
