---
interface Props {
  href: string;
  label?: string;
  class?: string;
  external?: boolean;
  type?: "underlined" | "option";
}

const { href, label, type } = Astro.props;

const external = (() => {
  if (typeof href === "string") {
    return href.at(0) !== "#";
  }
  return Astro.props.external === true;
})();

const linkClassName = (() => {
  if (type === "option") {
    return "link--option";
  }
  return "link--underlined";
})();
---

<a
  href={href}
  class={linkClassName}
  target={external === false ? "_self" : "_blank"}
>
  <slot>
    {label}
  </slot>
</a>
