---
import Link from "./link.astro";
import ThemePicker from "./pickers/theme-picker.astro";
import { NavBarMobile } from "./navbars/index";
---

<nav
  class="w-full flex-row-base gap-4 justify-between py-4 px-6 bg-background h-[60px] fixed top-0 z-10"
>
  <h4 class="text-xl text-primary font-semibold">Dikson {"</>"}</h4>
  <ul
    id="navbar-links"
    class="flex-row gap-8 items-center hidden md:flex text-on-background"
  >
    <li>
      <Link href="#" label="Overview" />
    </li>
    <li>
      <Link href="#experience" label="Experience" />
    </li>
    <li>
      <Link href="#projects" label="Projects" />
    </li>
    <li>
      <Link href="#contact" label="Contact" />
    </li>
  </ul>
  <ThemePicker class="hidden md:block" id="theme-picker" />
  <NavBarMobile class="md:hidden" />
</nav>

<style>
  a {
    transition:
      text-decoration 100ms ease-in,
      color 100ms ease-in;
  }

  .overlay-menu li {
    padding: 0.2em 0.5em;
  }
</style>
<script>
  const linksList = document.querySelector("#navbar-links");
  linksList?.addEventListener("click", (ev) => {
    const target = ev.target as HTMLElement;

    if (target.tagName === "A") {
      linksList.querySelectorAll("a").forEach((link) => {
        link.classList.remove("link--selected");
      });
      target.classList.add("link--selected");
    }
  });
</script>
