@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 244 243 248;
    --color-txt: 35 36 35;
    --color-txt-soft: 93 94 93;
    --color-primary: 53 196 103;
    --color-background-soft: 252 252 252;
  }

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-color-scheme: dark) {
    html.dark-theme {
      --color-background: 24 28 20;
      --color-txt: 236 237 235;
      --color-txt-soft: 157 161 153;
      --color-primary: 236 223 204;
      --color-background-soft: 35 41 30;
    }
  }
}

@layer utilities {
  .flex-row-base {
    @apply flex flex-row items-center;
  }
}


@layer components {
  .link {
    @apply underline underline-offset-2
  }

  .link:hover {
    @apply no-underline
  }

  .btn-primary {
    @apply rounded-full bg-primary text-background;
  }

  .btn-sm {
    @apply text-sm px-5 py-2;
  }

  .btn-xs {
    @apply text-xs px-3 py-1;
  }
}